
.navigation {
    background-color: rgb(150 233 241);
    padding: 10px;
    border-radius: 60%;
}

.navigation__list {
    list-style-type: none;
    text-align: center;
    font-family: 'Chivo Mono', monospace;
    line-height: 1.8;
    font-weight: 500;
    
}

.navigation__link {
    color: rgb(29, 89, 255);
    font-weight: bold;
    padding: 2px;
    text-decoration: none;
    
}

.navstyle:visited {
    color: darkblue;
}

.navstyle:focus {
    outline: 3px solid white
}
