html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    max-width: 1000px;
    padding: 20px;
    margin: 50px auto 100px;
    background-color: rgb(191, 217, 224);
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
}

.body__changecolor {
    display: block;
    margin: 0 auto;
    font-weight: 700;
    background-color: rgb(7, 183, 253);
    color: azure;
}

.dark {
    color: aliceblue;
    background: #222;
}

.buttondark {
    background-color: rgb(7, 183, 253);
    color: azure;
    display: block;
    margin: 0 auto;
    font-weight: 700;
}

.hidden {
    visibility: hidden
}

.points {
    font-weight: 700;
}

.footer {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: medium;
    text-align: center;
}

